@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url("/src/assets/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url("/src/assets/fonts/GeistMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 325 27% 10%;
    --foreground: 325 5% 90%;
    --card: 325 27% 10%;
    --card-foreground: 325 5% 90%;
    --popover: 325 27% 5%;
    --popover-foreground: 325 5% 90%;
    --primary: 325 69% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 325 27% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 287 27% 25%;
    --muted-foreground: 325 5% 60%;
    --accent: 287 27% 25%;
    --accent-foreground: 325 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 325 5% 90%;
    --border: 325 27% 50%;
    --input: 325 27% 50%;
    --ring: 325 69% 53%;
    --radius: 0.5rem;

    --inaccuracy: 50 100% 40%;
    --mistake: 28 80% 50%;
    --blunder: 0 50% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background;
    font-family: 'Geist', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1 {
    @apply font-bold text-6xl text-primary-foreground;
  }
  h2 {
    @apply font-bold text-2xl text-primary-foreground;
  }
  h3 {
    @apply text-primary-foreground;
  }
  h4 {
    @apply text-sm text-primary-foreground;
  }
  p {
    @apply text-sm text-muted-foreground;
  }
  small {
    font-size: 0.625rem;
    line-height: 0.75rem;
    @apply text-muted-foreground;
  }
}

.code, pre, .font-mono {
  font-family: 'Geist-Mono', monospace;
}

.lucide {
  @apply text-primary-foreground;
}