@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist';
  src: url("/src/assets/fonts/Geist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url("/src/assets/fonts/GeistMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --background: 69 16% 10%;
    --foreground: 69 5% 90%;
    --card: 69 16% 10%;
    --card-foreground: 69 5% 90%;
    --popover: 69 16% 5%;
    --popover-foreground: 69 5% 90%;
    --primary: 69 100% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 69 16% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 31 16% 25%;
    --muted-foreground: 69 5% 60%;
    --accent: 31 16% 25%;
    --accent-foreground: 69 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 69 5% 90%;
    --border: 69 20% 50%;
    --input: 69 20% 50%;
    --ring: 69 100% 20%;
    --radius: 0.5rem;

    --square-light: 27 35% 55%;
    --square-dark: 38 66% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary-foreground;
    font-family: 'Geist', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1 {
    @apply font-bold text-6xl text-primary-foreground;
  }
  h2 {
    @apply font-bold text-2xl text-primary-foreground;
  }
  h3 {
    @apply text-xl text-primary-foreground;
  }
  h4 {
    @apply text-primary-foreground;
  }
  p {
    @apply text-sm text-muted-foreground;
  }
  small {
    font-size: 0.625rem;
    line-height: 0.75rem;
    @apply text-muted-foreground;
  }
}

.code, pre, .font-mono {
  font-family: 'Geist-Mono', monospace;
}

.lucide {
  @apply text-primary-foreground;
}